<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Hasil Konversi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Konversi ke Fahrenheit, Reamur, dan Kelvin</div>
        <hr>
        <p>Celcius      :   <td th:text="${Celcius}"></td><th> °C </th></p>
        <p>Fahrenheit   :   <td th:text="${Fahrenheit}"></td><th> °F </th></p>
        <p>Reamur       :   <td th:text="${Reamur}"></td><th> °R </th></p>
        <p>Kelvin       :   <td th:text="${Kelvin}"></td><th> °K </th></p>
    </body>
</html>
